## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.certificates.data import CertificateStatuses
%>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/courseware/certificates_api.js')}"></script>
</%block>

<div class="progress-content page-content-container">

  <div class="page-content">
    <div class="page-content-main" id="main-progress">
      <div class="wrapper-msg wrapper-auto-cert">
        <div id="errors-info" class="errors-info"></div>
          <%block name="certificate_block">
            %if certificate_data:
            <div class="auto-cert-message" id="course-success">
              <div class="has-actions container">
                <% post_url = reverse('generate_user_cert', args=[course_id]) %>
                <div class="row">
                  <div class="col col-md-6 col-lg-8">
                    <div class="msg-content">
                      <h3 class="hd hd-4 title">${_(certificate_data.title)}</h3>
                      <p class="copy">${_(certificate_data.msg)}</p>
                    </div>  
                  </div>
                  <div class="col col-md-6 col-lg-4">
                    <div class="msg-actions">
                      %if certificate_data.cert_web_view_url:
                        <a class="btn btn-primary" href="${certificate_data.cert_web_view_url}" rel="noopener" target="_blank">${_("View Certificate")} <span class="sr">${_("Opens in a new browser window")}</span></a>
                        %elif certificate_data.cert_status == CertificateStatuses.downloadable and certificate_data.download_url:
                        <a class="btn btn-primary" href="${certificate_data.download_url}" rel="noopener" target="_blank">${_("Download Your Certificate")} <span class="sr">${_("Opens in a new browser window")}</span></a>
                        %elif certificate_data.cert_status == CertificateStatuses.requesting:
                        <button class="btn btn-primary generate_certs" data-endpoint="${post_url}" id="btn_generate_cert">${_('Request Certificate')}</button>
                      %endif
                    </div>    
                  </div>
                </div>
              </div>
            </div>
            %endif
          </%block>
      </div>
      % for section in data.get('children', []):
      <div class="card section">
        <div class="card-body">
          <div class="head collapsed" data-toggle="collapse" data-target="#section_${section.get('block_id')}" aria-expanded="false" aria-controls="section_${section.get('block_id')}">
            <h2><span class="fa fa-caret-down arrow"></span><a href="${section.get('lms_web_url')}">${section.get('display_name')}</a></h2>
            <div class="head-info">
              <ul>
                <li>
                  <span class="value">${section.get('progress', '0')}%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" style="width: ${section.get('progress', '0')}%;"></div>
                  </div>
                  <strong class="title">${_('Progress')}</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="section_${section.get('block_id')}" data-parent="#main-progress">
            <div class="slide">
              % for subsection in section.get('children', []):
                <div class="card subsection">
                  <div class="card-body">
                    <div class="head collapsed" data-toggle="collapse" data-target="#subsection_${subsection.get('block_id')}" aria-expanded="false" aria-controls="subsection_${subsection.get('block_id')}">
                      <h3><span class="fa fa-caret-down arrow"></span><a href="${subsection.get('lms_web_url')}">${subsection.get('display_name')}</a></h3>
                      <div class="head-info">
                        <ul>
                          <li>
                            <span class="value">${subsection.get('progress', '0')}%</span>
                            <div class="progress">
                              <div class="progress-bar bg-success" style="width: ${subsection.get('progress', '0')}%"></div>
                            </div>
                            <strong class="title">${_('Progress')}</strong>
                          </li>
                          <li>
                            <span class="value">${subsection.get('format', _('Not Graded'))}</span>
                            <strong class="title">${_('Assignment')}</strong>
                          </li>
                          % if show_score_tab:
                          <li>
                            <span class="value">${subsection.get('score')}</span>
                            <strong class="title">${_('Problem Score') if subsection.get('format') else _('Practice Score')}</strong>
                          </li>
                          % endif
                        </ul>
                      </div>
                    </div>
                    <div class="collapse" id="subsection_${subsection.get('block_id')}" data-parent="#section_${section.get('block_id')}">
                      <div class="units slide">
                        % for unit in subsection.get('children', []):
                        <div class="card unit">
                          <div class="card-header collapsed" data-toggle="collapse" data-target="#unit_${unit.get('block_id')}" aria-expanded="false" aria-controls="unit_${unit.get('block_id')}">
                            <h4><span class="fa fa-caret-down arrow"></span><a href="${unit.get('lms_web_url')}">${unit.get('display_name')}</a></h4>
                          </div>
                          <div class="slide collapse" id="unit_${unit.get('block_id')}" data-parent="#subsection_${subsection.get('block_id')}">
                            <div class="card-body">
                              <table class="table table-hover table-sm">
                                <thead>
                                  <tr class="table-primary">
                                    <th></th>
                                    <th>${_('Completed')}</th>
                                    % if show_score_tab:
                                    <th>${_('Score')}</th>
                                    % endif
                                  </tr>
                                </thead>
                                <tbody>
                                  % for component in unit.get('children', []):
                                  <tr>
                                    <td><a href="${component.get('lms_web_url')}">${component.get('display_name')}</a></td>
                                    % if component.get('is_excluded_block'):
                                      <td>${_('N/A')}</td>
                                    % else:
                                      <td>${_('Yes') if component.get('complete') else _('No')}</td>
                                    % endif
                                    % if show_score_tab:
                                    <td>${component.get('score', '-')}</td>
                                    % endif
                                  </tr>
                                  % endfor
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        % endfor
                      </div>
                    </div>
                  </div>
                </div>
              % endfor
            </div>
          </div>
        </div>
      </div>
      % endfor
    </div>
  </div>
</div>
