{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <p>
                {% blocktrans trimmed %}
                {{ email_msg }}
                {% endblocktrans %}

            </p>

            {% trans "View Reports" as course_cta_text %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=report_link%}

            {% block google_analytics_pixel %}
                <img src="{{ ga_tracking_pixel_url }}" alt="" role="presentation" aria-hidden="true" style="display: block;"/>
            {% endblock %}

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}This email was automatically sent from {{ platform_name }} to {{ email }}{% endblocktrans %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}
